<div class="container px-2">
  <h2>New book</h2>

  <% if @book.errors.any? %>
    <%= @book.errors.count %>件のエラーが発生しました
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @book do |f| %>
    <h6>画像</h6>
      <%= f.file_field :image, accept: "image/*" %>

    <div class="row">
      <h6 class="col my-2">Title</h6>
    </div>
      <%= f.text_field :title %>
    <div class="row">
      <h6 class="col my-2">Opinion</h6>
    </div>
      <%= f.text_area :body %>
    <div class="row">
      <div class="col my-3">
        <%= f.submit 'Create Book' %>
      </div>
    </div>

  <% end %>
</div>